# data files
*.json

# binary files
*.bin
bin/*

# video / image / music
*.mp4
*.avi
*.jpg
*.png
*.mp3
*.wav
*.m4a

# windows
Thumbs.db
ehthumbs.db
Desktop.ini

# log
*.log
log/*

# c/c++ made files
*.o
*.so
main
draw